name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push backend
        uses: docker/build-push-action@v4
        with:
          context: ./backend-go
          push: true
          tags: mbutner/recipe-backend:latest

      - name: Build and push scraper
        uses: docker/build-push-action@v4
        with:
          context: ./scraper-python
          push: true
          tags: mbutner/recipe-scraper:latest

      - name: Build and push frontend
        uses: docker/build-push-action@v4
        with:
          context: ./frontend-react
          push: true
          tags: mbutner/recipe-frontend:latest

  deploy:
    runs-on: self-hosted
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Swarm
        run: |
          cd ~/projects/recipe-platform
          docker stack deploy -c docker-compose.prod.yml recipe-platform
