name: Deploy to Swarm

on:
  workflow_run:
    workflows: ["Build and Push Docker Image"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Swarm
        run: |
          cd ~/projects/recipe-platform
          GITHUB_SHA=${{ github.sha }} docker stack deploy --with-registry-auth -c docker-compose.prod.yml recipe-platform
